{% extends '@UnicatModule/Admin/configuration.html.twig' %}

{% block title %}{{ 'Items type edit'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h3>{{ 'Items type edit'|trans }}</h3>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}}) }}

    </div>
</div>

{% endblock content %}
